# Node modules & log files
node_modules
npm-debug.log

# Build output
dist
build

# Dependency caches
*.tsbuildinfo

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS files
.vscode
.idea
.DS_Store
Thumbs.db

# Git files
.git
.gitignore
